<app-modal [title]="title" [outsideClose]="true" (cancelEvent)="ok()">
  <div class="modal-body">
    <div class="mb-4">
      <ul>
        <li>
          <span class="font-medium">房號:</span>
          <span class="ms-2">{{ detailData.room }}</span>
        </li>
        <li>
          <span class="font-medium">時間:</span>
          <span class="ms-2">{{ detailData.time }}</span>
        </li>
        <li>
          <span class="font-medium">客人姓名:</span>
          <span class="ms-2">{{ detailData.name }}</span>
        </li>
      </ul>
    </div>
    <div class="font-medium">器材</div>
    <ul>
      <li>eecp</li>
      <li>other stuff</li>
    </ul>
  </div>

  <div class="modal-footer p-0 border-0 max-w flex justify-center">
    <button  class="btn" (click)="ok()">
      {{ buttonText }}
    </button>
  </div>
</app-modal>
