<app-modal [title]="title" [outsideClose]="true" (cancelEvent)="ok()">
  <div class="modal-body">
    <form [formGroup]="addBookingForm" class="form">
      <div class="mt-4">
        <span
          >日期:<span class="font-medium ms-3">{{
            bookingData.date
          }}</span></span
        >
      </div>
      <div class="mt-4">
        <span
          >時段:<span class="font-medium ms-3">{{
            bookingData.time
          }}</span></span
        >
      </div>
      <div class="mt-4">
        <span
          >房間:<span class="font-medium ms-3">{{
            bookingData.room
          }}</span></span
        >
      </div>
      <div class="mt-3">
        <label
          for="name"
          class="block mb-2 text-sm text-gray-900 dark:text-white"
          >客人姓名:</label
        >
        <input
          type="text"
          formControlName="name"
          id="name"
          class="input-name"
          placeholder="請輸入姓名"
        />
      </div>
      <div class="mt-4">
        <mat-label>選擇療程</mat-label>
        <mat-select
          [placeholder]="'請選擇療程'"
          formControlName="treatment"
          class="input-select text-s"
        >
          @for (treatment of bookingData.treatmentList; track $index) {
          <mat-option [value]="treatment.value">{{
            treatment.name
          }}</mat-option>
          }
        </mat-select>
      </div>
      <div>
        <div class="mt-4">
          <div>
            <mat-label>選擇器材</mat-label>
          </div>
          @for (equipment of equipmentList; track $index) {
          <div class="flex items-center">
            <input
              [id]="$index"
              [formControlName]="equipment.key"
              type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="equipment"
              class="ms-2 text-sm text-gray-900 dark:text-gray-300"
              >{{ equipment.name }}</label
            >
            <div class="ml-3">
              <span>
                剩餘：{{bookingData.equipment.get(equipment.key)}}
              </span>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="flex justify-center mt-4">
        <button class="btn" (click)="submit()">submit</button>
      </div>
    </form>
  </div>

  <div class="modal-footer p-0 border-0 max-w d-sm-flex"></div>
</app-modal>
