<main class="mt-36 flex flex-col items-center">
  <section class="items-center flex-col flex text-xl w-full">
    <p class="text-5xl mb-16">
      一次100元給wendy系統
    </p>
    <div
      class="max-w-l p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 w-1/2 mt-5"
    >
      <div>
        <div class="flex justify-center">
          <button class="btn btn-blue" (click)="goToReport()">生報告</button>
          <button class="btn btn-blue ml-5" (click)="goToBooking()">訂療程房間</button>
        </div>
      </div>
    </div>
  </section>
</main>
