@if(data().length > 0) {
<main>
  <div class="flex justify-end align-center gap-3 p-5">
    <button
      (click)="alterBloodExamSectionBg()"
      class="font-bold text-xl btn"
      [style.backgroundColor]="isHighLight ? highlightYellow : ''"
    >
      標示血脂肪檢查 @if(isHighLight){<span> ON</span>}@else{OFF}
    </button>
    <div
      (click)="generatePdf(pdfTable)"
      class="flex align-middle gap-2 cursor-pointer"
    >
      <button class="btn">
        <app-icon-download></app-icon-download>
      </button>
    </div>
  </div>
  <div class="px-2 mb-9">
    <div class="flex justify-between">
      <p class="font-bold text-2xl">檢查報告</p>
    </div>
    <p class="text-xl">{{ data()[0].name }}</p>
  </div>
  <!-- this is for present table  -->
  <table class="mb-9">
    <thead class="text-xl">
      <tr>
        <th class="align-bottom">檢驗項目</th>
        <th *ngFor="let item of data(); index as i" class="align-bottom relative">
          <section class="flex mb-5 justify-center">
            <div class="flex justify-center">
              <button (click)="openNote(i)" *ngIf="!checkIfShowEdit(i)" >
                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                 </svg>
               </button>
            </div>
            <div class="flex justify-center gap-2 absolute top-0" *ngIf="checkIfShowEdit(i)">
              <div>
                <input class="input-edit" [id]="i" type="text" name="note" [(ngModel)]="item.note">
              </div>
              <button (click)="closeNote(i)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                </svg>
              </button>
            </div>
          </section>
          <div class="">
            <div class="flex justify-center">
              @if(showIconState[i]){
              <button class="btn mb-5 font-light" (click)="hide(item)">
                <app-icon-visible></app-icon-visible>
              </button>
              } @else{
              <button class="btn mb-5 font-light"(click)="show(item)" >
                <app-icon-invisible></app-icon-invisible>
              </button>
              }
            </div>
            <div class="flex justify-center mb-8">
              <button
              class="btn mb-5 font-light text-sm  flex justify-center gap-2 items-center"
              [style.opacity]="i !== 0 ? 1 : 0"
              (click)="swap(i)"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3" />
            </svg>
            <span>(向前)</span>
            </button>
            </div>

            <div class="absolute bottom-10">
              @if(!checkIfShowEdit(i)){
                <span class="text-base" >
                  {{item.note}}
                </span>
              }
            </div>
            <div class="text-center">
              {{ getFormatDate(item.date) }}
            </div>
          </div>
        </th>
        <th class="text-end align-bottom">參考值說明</th>
        <th class="text-end align-bottom">單位</th>
      </tr>
    </thead>
    <tbody class="text-lg">
      @if(checkCategoryTitle(bloodRoutineExamination)){
      <tr class="font-bold bg-slate-200">
        <td>血液常規檢查</td>
        <td *ngFor="let item of data()"
        ></td>
        <td></td>
        <td></td>
      </tr>
      }
      <ng-container *ngFor="let key of bloodRoutineExamination">
        <tr *ngIf="hasValue(key)" >
          <td>{{ titleMapping[key] ?? "" }}</td>
          <ng-container *ngFor="let item of data(); index as $index">
            <td
              [style.color]="checkResult(item[key]?.resultNote)"
              class="text-center"
              [style.backgroundColor]="showIconState[$index] ? '' : hiddenGray"
              [style.opacity]="showIconState[$index] ? '' : hiddenOpacity"
            >
              {{ item[key]?.value }}
            </td>
          </ng-container>
          <td class="text-end">{{ criteria[key] }}</td>
          <td class="text-end">{{ units[key] }}</td>
        </tr>
      </ng-container>
      @if(checkCategoryTitle(whiteBloodCellDifferentiation)){
      <tr class="font-bold bg-slate-200">
        <td>白血球分離</td>
        <td *ngFor="let item of data()"></td>
        <td></td>
        <td></td>
      </tr>
      }
      <ng-container *ngFor="let key of whiteBloodCellDifferentiation">
        <tr *ngIf="hasValue(key)">
          <td>{{ titleMapping[key] ?? "" }}</td>
          <ng-container *ngFor="let item of data(); index as $index">
            <td
              [style.color]="checkResult(item[key]?.resultNote)"
              class="text-center"
              [style.backgroundColor]="showIconState[$index] ? '' : hiddenGray"
              [style.opacity]="showIconState[$index] ? '' : hiddenOpacity"
            >
              {{ item[key]?.value }}
            </td>
          </ng-container>
          <td class="text-end">{{ criteria[key] }}</td>
          <td class="text-end">{{ units[key] }}</td>
        </tr>
      </ng-container>
      @if(checkCategoryTitle(bloodSugarExamination)){
      <tr class="font-bold bg-slate-200">
        <td>糖尿病檢查</td>
        <td *ngFor="let item of data()"></td>
        <td></td>
        <td></td>
      </tr>
      }
      <ng-container *ngFor="let key of bloodSugarExamination">
        <tr *ngIf="hasValue(key)">
          <td>{{ titleMapping[key] ?? "" }}</td>
          <ng-container *ngFor="let item of data(); index as $index">
            <td
              [style.color]="checkResult(item[key]?.resultNote)"
              class="text-center"
              [style.backgroundColor]="showIconState[$index] ? '' : hiddenGray"
              [style.opacity]="showIconState[$index] ? '' : hiddenOpacity"
            >
              {{ item[key]?.value }}
            </td>
          </ng-container>
          <td class="text-end">{{ criteria[key] }}</td>
          <td class="text-end">{{ units[key] }}</td>
        </tr>
      </ng-container>
      @if(checkCategoryTitle(liverFunctionExamination)){
      <tr class="font-bold bg-slate-200">
        <td>肝膽功能檢查</td>
        <td *ngFor="let item of data()"></td>
        <td></td>
        <td></td>
      </tr>
      }
      <ng-container *ngFor="let key of liverFunctionExamination">
        <tr *ngIf="hasValue(key)">
          <td>{{ titleMapping[key] ?? "" }}</td>
          <ng-container *ngFor="let item of data();index as $index">
            <td
              [style.color]="checkResult(item[key]?.resultNote)"
              class="text-center"
              [style.backgroundColor]="showIconState[$index] ? '' : hiddenGray"
              [style.opacity]="showIconState[$index] ? '' : hiddenOpacity"
            >
              {{ item[key]?.value }}
            </td>
          </ng-container>
          <td class="text-end">{{ criteria[key] }}</td>
          <td class="text-end">{{ units[key] }}</td>
        </tr>
      </ng-container>
      @if(checkCategoryTitle(bloodLipidExamination)){
      <tr class="font-bold bg-slate-200">
        <td>血脂肪檢查</td>
        <td *ngFor="let item of data()"></td>
        <td></td>
        <td></td>
      </tr>
      }
      <ng-container *ngFor="let key of bloodLipidExamination">
        <tr *ngIf="hasValue(key)">
          <td>{{ titleMapping[key] ?? "" }}</td>
          <ng-container *ngFor="let item of data();index as $index">
            <td
              [style.color]="checkResult(item[key]?.resultNote)"
              class="text-center"
              [ngClass]="{ 'highlight': isHighLightRow(), 'bg-gray': !showIconState[$index] }"
              [style.opacity]="showIconState[$index] ? '' : hiddenOpacity"
            >
              {{ item[key]?.value }}
            </td>
          </ng-container>
          <td class="text-end">{{ criteria[key] }}</td>
          <td class="text-end">{{ units[key] }}</td>
        </tr>
      </ng-container>
      @if(checkCategoryTitle(kidneyFunctionExamination)){
      <tr class="font-bold bg-slate-200">
        <td>腎功能檢查</td>
        <td *ngFor="let item of data()"></td>
        <td></td>
        <td></td>
      </tr>
      }
      <ng-container *ngFor="let key of kidneyFunctionExamination">
        <tr *ngIf="hasValue(key)">
          <td>{{ titleMapping[key] ?? "" }}</td>
          <ng-container *ngFor="let item of data(); index as $index">
            <td
              [style.color]="checkResult(item[key]?.resultNote)"
              class="text-center"
              [style.backgroundColor]="showIconState[$index] ? '' : hiddenGray"
              [style.opacity]="showIconState[$index] ? '' : hiddenOpacity"
            >
              {{ item[key]?.value }}
            </td>
          </ng-container>
          <td class="text-end">{{ criteria[key] }}</td>
          <td class="text-end">{{ units[key] }}</td>
        </tr>
      </ng-container>
      @if(checkCategoryTitle(generalUrineExamination)){
      <tr class="font-bold bg-slate-200">
        <td>一般尿液檢查</td>
        <td *ngFor="let item of data()"></td>
        <td></td>
        <td></td>
      </tr>
      }
      <ng-container *ngFor="let key of generalUrineExamination">
        <tr *ngIf="hasValue(key)">
          <td>{{ titleMapping[key] ?? "" }}</td>
          <ng-container *ngFor="let item of data(); index as $index">
            <td
              [style.color]="checkResult(item[key]?.resultNote)"
              class="text-center"
              [style.backgroundColor]="showIconState[$index] ? '' : hiddenGray"
              [style.opacity]="showIconState[$index] ? '' : hiddenOpacity"
            >
              {{ item[key]?.value }}
            </td>
          </ng-container>
          <td class="text-end">{{ criteria[key] }}</td>
          <td class="text-end">{{ units[key] }}</td>
        </tr>
      </ng-container>
      @if(checkCategoryTitle(urineSedimentExamination)){
      <tr class="font-bold bg-slate-200">
        <td>尿液沈渣浸檢</td>
        <td *ngFor="let item of data()"></td>
        <td></td>
        <td></td>
      </tr>
      }
      <ng-container *ngFor="let key of urineSedimentExamination">
        <tr *ngIf="hasValue(key)">
          <td>{{ titleMapping[key] ?? "" }}</td>
          <ng-container *ngFor="let item of data(); index as $index">
            <td
              [style.color]="checkResult(item[key]?.resultNote)"
              class="text-center"
              [style.backgroundColor]="showIconState[$index] ? '' : hiddenGray"
              [style.opacity]="showIconState[$index] ? '' : hiddenOpacity"
            >
              {{ item[key]?.value }}
            </td>
          </ng-container>
          <td class="text-end">{{ criteria[key] }}</td>
          <td class="text-end">{{ units[key] }}</td>
        </tr>
      </ng-container>
      @if(checkCategoryTitle(liverDiseaseExamination)){
      <tr class="font-bold bg-slate-200">
        <td>病毒肝炎檢查</td>
        <td *ngFor="let item of data()"></td>
        <td></td>
        <td></td>
      </tr>
      }
      <ng-container *ngFor="let key of liverDiseaseExamination">
        <tr *ngIf="hasValue(key)">
          <td>{{ titleMapping[key] ?? "" }}</td>
          <ng-container *ngFor="let item of data(); index as $index">
            <td
              [style.color]="checkResult(item[key]?.resultNote)"
              class="text-center"
              [style.backgroundColor]="showIconState[$index] ? '' : hiddenGray"
              [style.opacity]="showIconState[$index] ? '' : hiddenOpacity"
            >
              {{ item[key]?.value }}
            </td>
          </ng-container>
          <td class="text-end">{{ criteria[key] }}</td>
          <td class="text-end">{{ units[key] }}</td>
        </tr>
      </ng-container>

      @if(checkCategoryTitle(sexDiseaseExamination)){
      <tr class="font-bold bg-slate-200">
        <td>性病檢查</td>
        <td *ngFor="let item of data()"></td>
        <td></td>
        <td></td>
      </tr>
      }
      <ng-container *ngFor="let key of sexDiseaseExamination">
        <tr *ngIf="hasValue(key)">
          <td>{{ titleMapping[key] ?? "" }}</td>
          <ng-container *ngFor="let item of data(); index as $index">
            <td
              [style.color]="checkResult(item[key]?.resultNote)"
              class="text-center"
              [style.backgroundColor]="showIconState[$index] ? '' : hiddenGray"
              [style.opacity]="showIconState[$index] ? '' : hiddenOpacity"
            >
              {{ item[key]?.value }}
            </td>
          </ng-container>
          <td class="text-end">{{ criteria[key] }}</td>
          <td class="text-end">{{ units[key] }}</td>
        </tr>
      </ng-container>

      @if(checkCategoryTitle(coagulationFunctionExamination)){
      <tr class="font-bold bg-slate-200">
        <td>血液凝固檢查</td>
        <td *ngFor="let item of data()"></td>
        <td></td>
        <td></td>
      </tr>
      }
      <ng-container *ngFor="let key of coagulationFunctionExamination">
        <tr *ngIf="hasValue(key)">
          <td>{{ titleMapping[key] ?? "" }}</td>
          <ng-container *ngFor="let item of data(); index as $index">
            <td
              [style.color]="checkResult(item[key]?.resultNote)"
              class="text-center"
              [style.backgroundColor]="showIconState[$index] ? '' : hiddenGray"
              [style.opacity]="showIconState[$index] ? '' : hiddenOpacity"
            >
              {{ item[key]?.value }}
            </td>
          </ng-container>
          <td class="text-end">{{ criteria[key] }}</td>
          <td class="text-end">{{ units[key] }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <!-- this is for present table end -->

  <main #pdfTable>
    <table class="mb-9 hidden" id="pdfTable">
      <thead class="text-xs ">
        <tr>
          <th class="">檢驗項目</th>
          <th *ngFor="let item of dataForPdf()">
              <p class="mt-11 ">
                {{item.note}}
                <br/>
                {{ getFormatDate(item.date) }}
              </p>
          </th>
          <th class="text-end">參考值說明</th>
          <th class="text-end">單位</th>
        </tr>
      </thead>
      <tbody class="text-xs">
        @if(checkCategoryTitle(bloodRoutineExamination)){
        <tr class="font-bold bg-slate-200">
          <td>血液常規檢查</td>
          <td *ngFor="let item of dataForPdf()"></td>
          <td></td>
          <td></td>
        </tr>
        }
        <ng-container *ngFor="let key of bloodRoutineExamination">
          <tr *ngIf="hasValue(key)">
            <td>{{ titleMapping[key] ?? "" }}</td>
            <ng-container *ngFor="let item of dataForPdf(); index as $index">
              <td
                [style.color]="checkResult(item[key]?.resultNote)"
                class="text-center"

              >
                {{ item[key]?.value }}
              </td>
            </ng-container>
            <td class="text-end">{{ criteria[key] }}</td>
            <td class="text-end">{{ units[key] }}</td>
          </tr>
        </ng-container>
        @if(checkCategoryTitle(whiteBloodCellDifferentiation)){
        <tr class="font-bold bg-slate-200">
          <td>白血球分離</td>
          <td *ngFor="let item of dataForPdf()"></td>
          <td></td>
          <td></td>
        </tr>
        }
        <ng-container *ngFor="let key of whiteBloodCellDifferentiation">
          <tr *ngIf="hasValue(key)">
            <td>{{ titleMapping[key] ?? "" }}</td>
            <ng-container *ngFor="let item of dataForPdf(); index as $index">
              <td
                [style.color]="checkResult(item[key]?.resultNote)"
                class="text-center"


              >
                {{ item[key]?.value }}
              </td>
            </ng-container>
            <td class="text-end">{{ criteria[key] }}</td>
            <td class="text-end">{{ units[key] }}</td>
          </tr>
        </ng-container>
        @if(checkCategoryTitle(bloodSugarExamination)){
        <tr class="font-bold bg-slate-200">
          <td>糖尿病檢查</td>
          <td *ngFor="let item of dataForPdf()"></td>
          <td></td>
          <td></td>
        </tr>
        }
        <ng-container *ngFor="let key of bloodSugarExamination">
          <tr *ngIf="hasValue(key)">
            <td>{{ titleMapping[key] ?? "" }}</td>
            <ng-container *ngFor="let item of dataForPdf(); index as $index">
              <td
                [style.color]="checkResult(item[key]?.resultNote)"
                class="text-center"


              >
                {{ item[key]?.value }}
              </td>
            </ng-container>
            <td class="text-end">{{ criteria[key] }}</td>
            <td class="text-end">{{ units[key] }}</td>
          </tr>
        </ng-container>
        @if(checkCategoryTitle(liverFunctionExamination)){
        <tr class="font-bold bg-slate-200">
          <td>肝膽功能檢查</td>
          <td *ngFor="let item of dataForPdf()"></td>
          <td></td>
          <td></td>
        </tr>
        }
        <ng-container *ngFor="let key of liverFunctionExamination">
          <tr *ngIf="hasValue(key)">
            <td>{{ titleMapping[key] ?? "" }}</td>
            <ng-container *ngFor="let item of dataForPdf(); index as $index">
              <td
                [style.color]="checkResult(item[key]?.resultNote)"
                class="text-center"


              >
                {{ item[key]?.value }}
              </td>
            </ng-container>
            <td class="text-end">{{ criteria[key] }}</td>
            <td class="text-end">{{ units[key] }}</td>
          </tr>
        </ng-container>
        @if(checkCategoryTitle(bloodLipidExamination)){
        <tr class="font-bold bg-slate-200">
          <td>血脂肪檢查</td>
          <td *ngFor="let item of dataForPdf()"></td>
          <td></td>
          <td></td>
        </tr>
        }
        <ng-container *ngFor="let key of bloodLipidExamination">
          <tr *ngIf="hasValue(key)">
            <td>{{ titleMapping[key] ?? "" }}</td>
            <ng-container *ngFor="let item of dataForPdf(); index as $index">
              <td
                [style.color]="checkResult(item[key]?.resultNote)"
                class="text-center"
                [ngClass]="{ 'highlight': isHighLightRow() }"


              >
                {{ item[key]?.value }}
              </td>
            </ng-container>
            <td class="text-end">{{ criteria[key] }}</td>
            <td class="text-end">{{ units[key] }}</td>
          </tr>
        </ng-container>
        @if(checkCategoryTitle(kidneyFunctionExamination)){
        <tr class="font-bold bg-slate-200">
          <td>腎功能檢查</td>
          <td *ngFor="let item of dataForPdf()"></td>
          <td></td>
          <td></td>
        </tr>
        }
        <ng-container *ngFor="let key of kidneyFunctionExamination">
          <tr *ngIf="hasValue(key)">
            <td>{{ titleMapping[key] ?? "" }}</td>
            <ng-container *ngFor="let item of dataForPdf(); index as $index">
              <td
                [style.color]="checkResult(item[key]?.resultNote)"
                class="text-center"

              >
                {{ item[key]?.value }}
              </td>
            </ng-container>
            <td class="text-end">{{ criteria[key] }}</td>
            <td class="text-end">{{ units[key] }}</td>
          </tr>
        </ng-container>
        @if(checkCategoryTitle(generalUrineExamination)){
        <tr class="font-bold bg-slate-200">
          <td>一般尿液檢查</td>
          <td *ngFor="let item of dataForPdf()"></td>
          <td></td>
          <td></td>
        </tr>
        }
        <ng-container *ngFor="let key of generalUrineExamination">
          <tr *ngIf="hasValue(key)">
            <td>{{ titleMapping[key] ?? "" }}</td>
            <ng-container *ngFor="let item of dataForPdf()">
              <td
                [style.color]="checkResult(item[key]?.resultNote)"
                class="text-center"
              >
                {{ item[key]?.value }}
              </td>
            </ng-container>
            <td class="text-end">{{ criteria[key] }}</td>
            <td class="text-end">{{ units[key] }}</td>
          </tr>
        </ng-container>
        @if(checkCategoryTitle(urineSedimentExamination)){
        <tr class="font-bold bg-slate-200">
          <td>尿液沈渣浸檢</td>
          <td *ngFor="let item of dataForPdf()"></td>
          <td></td>
          <td></td>
        </tr>
        }
        <ng-container *ngFor="let key of urineSedimentExamination">
          <tr *ngIf="hasValue(key)">
            <td>{{ titleMapping[key] ?? "" }}</td>
            <ng-container *ngFor="let item of dataForPdf(); index as $index">
              <td
                [style.color]="checkResult(item[key]?.resultNote)"
                class="text-center"

              >
                {{ item[key]?.value }}
              </td>
            </ng-container>
            <td class="text-end">{{ criteria[key] }}</td>
            <td class="text-end">{{ units[key] }}</td>
          </tr>
        </ng-container>
        @if(checkCategoryTitle(liverDiseaseExamination)){
        <tr class="font-bold bg-slate-200">
          <td>病毒肝炎檢查</td>
          <td *ngFor="let item of dataForPdf()"></td>
          <td></td>
          <td></td>
        </tr>
        }
        <ng-container *ngFor="let key of liverDiseaseExamination">
          <tr *ngIf="hasValue(key)">
            <td>{{ titleMapping[key] ?? "" }}</td>
            <ng-container *ngFor="let item of dataForPdf(); index as $index">
              <td
                [style.color]="checkResult(item[key]?.resultNote)"
                class="text-center"

              >
                {{ item[key]?.value }}
              </td>
            </ng-container>
            <td class="text-end">{{ criteria[key] }}</td>
            <td class="text-end">{{ units[key] }}</td>
          </tr>
        </ng-container>

        @if(checkCategoryTitle(sexDiseaseExamination)){
        <tr class="font-bold bg-slate-200">
          <td>性病檢查</td>
          <td *ngFor="let item of dataForPdf()"></td>
          <td></td>
          <td></td>
        </tr>
        }
        <ng-container *ngFor="let key of sexDiseaseExamination">
          <tr *ngIf="hasValue(key)">
            <td>{{ titleMapping[key] ?? "" }}</td>
            <ng-container *ngFor="let item of dataForPdf() ; index as $index">
              <td
                [style.color]="checkResult(item[key]?.resultNote)"
                class="text-center"

              >
                {{ item[key]?.value }}
              </td>
            </ng-container>
            <td class="text-end">{{ criteria[key] }}</td>
            <td class="text-end">{{ units[key] }}</td>
          </tr>
        </ng-container>

        @if(checkCategoryTitle(coagulationFunctionExamination)){
        <tr class="font-bold bg-slate-200">
          <td>血液凝固檢查</td>
          <td *ngFor="let item of dataForPdf()"></td>
          <td></td>
          <td></td>
        </tr>
        }
        <ng-container *ngFor="let key of coagulationFunctionExamination">
          <tr *ngIf="hasValue(key)">
            <td>{{ titleMapping[key] ?? "" }}</td>
            <ng-container *ngFor="let item of dataForPdf(); index as $index">
              <td
                [style.color]="checkResult(item[key]?.resultNote)"
                class="text-center"

              >
                {{ item[key]?.value }}
              </td>
            </ng-container>
            <td class="text-end">{{ criteria[key] }}</td>
            <td class="text-end">{{ units[key] }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </main>
</main>
}
