@if(data().length > 0) {
<div class="px-2 font-bold text-lg">
  <p>檢查報告</p>
  <p>{{ data()[0].name }}</p>
</div>

<table>
  <thead>
    <tr>
      <th>檢驗項目</th>
      <th *ngFor="let item of data()">{{ item.date }}</th>
      <th>參考值說明</th>
      <th>單位</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="hasValue('SCC')">
      <td>子宮頸跟食道癌/SCC</td>
      <td
        [style.color]="checkResult(item.SCC?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.SCC.value }}
      </td>
      <td>{{ criteria.SCC }}</td>
      <td>{{ units.SCC }}</td>
    </tr>
    <tr *ngIf="hasValue('WBC')">
      <td>白血球/WBC</td>
      <td
        [style.color]="checkResult(item.WBC?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.WBC.value }}
      </td>
      <td>{{ criteria.WBC }}</td>
      <td>{{ units.WBC }}</td>
    </tr>
    <tr *ngIf="hasValue('RBC')">
      <td>紅血球/RBC</td>
      <td
        [style.color]="checkResult(item.RBC?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.RBC.value }}
      </td>
      <td>{{ criteria.RBC }}</td>
      <td>{{ units.RBC }}</td>
    </tr>
    <tr *ngIf="hasValue('HgB')">
      <td>血紅蛋白/HgB</td>
      <td
        [style.color]="checkResult(item.HgB?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.HgB.value }}
      </td>
      <td>{{ criteria.HgB }}</td>
      <td>{{ units.HgB }}</td>
    </tr>
    <tr *ngIf="hasValue('Hct')">
      <td>血球容積比/Hct</td>
      <td
        [style.color]="checkResult(item.Hct?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.Hct.value }}
      </td>
      <td>{{ criteria.Hct }}</td>
      <td>{{ units.Hct }}</td>
    </tr>
    <tr *ngIf="hasValue('Neut')">
      <td>嗜中性球/Neut</td>
      <td
        [style.color]="checkResult(item.Neut?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.Neut.value }}
      </td>
      <td>{{ criteria.Neut }}</td>
      <td>{{ units.Neut }}</td>
    </tr>
    <tr *ngIf="hasValue('Lym')">
      <td>淋巴球/Lym</td>
      <td
        [style.color]="checkResult(item.Lym?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.Lym.value }}
      </td>
      <td>{{ criteria.Lym }}</td>
      <td>{{ units.Lym }}</td>
    </tr>
    <tr *ngIf="hasValue('Mono')">
      <td>單核球/Mono</td>
      <td
        [style.color]="checkResult(item.Mono?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.Mono.value }}
      </td>
      <td>{{ criteria.Mono }}</td>
      <td>{{ units.Mono }}</td>
    </tr>
    <tr *ngIf="hasValue('Baso')">
      <td>嗜鹼性球/Baso</td>
      <td
        [style.color]="checkResult(item.Baso?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.Baso.value }}
      </td>
      <td>{{ criteria.Baso }}</td>
      <td>{{ units.Baso }}</td>
    </tr>
    <tr *ngIf="hasValue('Eosin')">
      <td>嗜酸性球/Eosin</td>
      <td
        [style.color]="checkResult(item.Eosin?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.Eosin.value }}
      </td>
      <td>{{ criteria.Eosin }}</td>
      <td>{{ units.Eosin }}</td>
    </tr>
    <tr *ngIf="hasValue('PLT')">
      <td>血小板/PLT</td>
      <td
        [style.color]="checkResult(item.PLT?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.PLT.value }}
      </td>
      <td>{{ criteria.PLT }}</td>
      <td>{{ units.PLT }}</td>
    </tr>
    <tr *ngIf="hasValue('MCH')">
      <td>平均血紅蛋白量/MCH</td>
      <td
        [style.color]="checkResult(item.MCH?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.MCH.value }}
      </td>
      <td>{{ criteria.MCH }}</td>
      <td>{{ units.MCH }}</td>
    </tr>
    <tr *ngIf="hasValue('MCV')">
      <td>平均血球體積/MCV</td>
      <td
        [style.color]="checkResult(item.MCV?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.MCV.value }}
      </td>
      <td>{{ criteria.MCV }}</td>
      <td>{{ units.MCV }}</td>
    </tr>
    <tr *ngIf="hasValue('MCHC')">
      <td>平均血紅蛋白濃度/MCHC</td>
      <td
        [style.color]="checkResult(item.MCHC?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.MCHC.value }}
      </td>
      <td>{{ criteria.MCHC }}</td>
      <td>{{ units.MCHC }}</td>
    </tr>
    <tr *ngIf="hasValue('UColor')">
      <td>尿液顏色/UColor</td>
      <td
        [style.color]="checkResult(item.UColor?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UColor.value }}
      </td>
      <td>{{ criteria.UColor }}</td>
      <td>{{ units.UColor }}</td>
    </tr>
    <tr *ngIf="hasValue('UPRO')">
      <td>尿蛋白/UPRO</td>
      <td
        [style.color]="checkResult(item.UPRO.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UPRO.value }}
      </td>
      <td>{{ criteria.UPRO }}</td>
      <td>{{ units.UPRO }}</td>
    </tr>
    <tr *ngIf="hasValue('UGLU')">
      <td>尿糖/UGLU</td>
      <td
        [style.color]="checkResult(item.UGLU?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UGLU.value }}
      </td>
      <td>{{ criteria.UGLU }}</td>
      <td>{{ units.UGLU }}</td>
    </tr>
    <tr *ngIf="hasValue('UURO')">
      <td>尿膽素原/UURO</td>
      <td
        [style.color]="checkResult(item.UURO?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UURO.value }}
      </td>
      <td>{{ criteria.UURO }}</td>
      <td>{{ units.UURO }}</td>
    </tr>
    <tr *ngIf="hasValue('UBIL')">
      <td>尿膽紅素/UBIL</td>
      <td
        [style.color]="checkResult(item.UBIL?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UBIL.value }}
      </td>
      <td>{{ criteria.UBIL }}</td>
      <td>{{ units.UBIL }}</td>
    </tr>
    <tr *ngIf="hasValue('UKET')">
      <td>尿酮體/UKET</td>
      <td
        [style.color]="checkResult(item.UKET?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UKET.value }}
      </td>
      <td>{{ criteria.UKET }}</td>
      <td>{{ units.UKET }}</td>
    </tr>
    <tr *ngIf="hasValue('UPH')">
      <td>尿液酸鹼值/UPH</td>
      <td
        [style.color]="checkResult(item.UPH?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UPH.value }}
      </td>
      <td>{{ criteria.UPH }}</td>
      <td>{{ units.UPH }}</td>
    </tr>
    <tr *ngIf="hasValue('UNIT')">
      <td>尿亞硝酸鹽/UNIT</td>
      <td
        [style.color]="checkResult(item.UNIT?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UNIT.value }}
      </td>
      <td>{{ criteria.UNIT }}</td>
      <td>{{ units.UNIT }}</td>
    </tr>
    <tr *ngIf="hasValue('USG')">
      <td>尿比重/USG</td>
      <td
        [style.color]="checkResult(item.USG?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.USG.value }}
      </td>
      <td>{{ criteria.USG }}</td>
      <td>{{ units.USG }}</td>
    </tr>
    <tr *ngIf="hasValue('Other')">
      <td>其他/Other</td>
      <td
        [style.color]="checkResult(item.Other?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.Other.value }}
      </td>
      <td>{{ criteria.Other }}</td>
      <td>{{ units.Other }}</td>
    </tr>
    <tr *ngIf="hasValue('ULEU')">
      <td>尿白血球/ULEU</td>
      <td
        [style.color]="checkResult(item.ULEU?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.ULEU.value }}
      </td>
      <td>{{ criteria.ULEU }}</td>
      <td>{{ units.ULEU }}</td>
    </tr>
    <tr *ngIf="hasValue('UOB')">
      <td>尿隱血/UOB</td>
      <td
        [style.color]="checkResult(item.UOB?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UOB.value }}
      </td>
      <td>{{ criteria.UOB }}</td>
      <td>{{ units.UOB }}</td>
    </tr>
    <tr *ngIf="hasValue('URBC')">
      <td>尿紅血球/URBC</td>
      <td
        [style.color]="checkResult(item.URBC?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.URBC.value }}
      </td>
      <td>{{ criteria.URBC }}</td>
      <td>{{ units.URBC }}</td>
    </tr>
    <tr *ngIf="hasValue('UWBC')">
      <td>尿白血球/UWBC</td>
      <td
        [style.color]="checkResult(item.UWBC?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UWBC.value }}
      </td>
      <td>{{ criteria.UWBC }}</td>
      <td>{{ units.UWBC }}</td>
    </tr>
    <tr *ngIf="hasValue('UEP')">
      <td>尿上皮細胞/UEP</td>
      <td
        [style.color]="checkResult(item.UEP?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UEP.value }}
      </td>
      <td>{{ criteria.UEP }}</td>
      <td>{{ units.UEP }}</td>
    </tr>
    <tr *ngIf="hasValue('UCRY')">
      <td>尿結晶/UCRY</td>
      <td
        [style.color]="checkResult(item.UCRY?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UCRY.value }}
      </td>
      <td>{{ criteria.UCRY }}</td>
      <td>{{ units.UCRY }}</td>
    </tr>
    <tr *ngIf="hasValue('UCAS')">
      <td>尿管型/UCAS</td>
      <td
        [style.color]="checkResult(item.UCAS?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UCAS.value }}
      </td>
      <td>{{ criteria.UCAS }}</td>
      <td>{{ units.UCAS }}</td>
    </tr>
    <tr *ngIf="hasValue('UBAC')">
      <td>尿細菌/UBAC</td>
      <td
        [style.color]="checkResult(item.UBAC?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UBAC.value }}
      </td>
      <td>{{ criteria.UBAC }}</td>
      <td>{{ units.UBAC }}</td>
    </tr>
    <tr *ngIf="hasValue('CHDL')">
      <td>總膽固醇/CHDL</td>
      <td
        [style.color]="checkResult(item.CHDL?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.CHDL.value }}
      </td>
      <td>{{ criteria.CHDL }}</td>
      <td>{{ units.CHDL }}</td>
    </tr>
    <tr *ngIf="hasValue('ACGlu')">
      <td>空腹血糖/ACGlu</td>
      <td
        [style.color]="checkResult(item.ACGlu?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.ACGlu.value }}
      </td>
      <td>{{ criteria.ACGlu }}</td>
      <td>{{ units.ACGlu }}</td>
    </tr>
    <tr *ngIf="hasValue('HBA1c')">
      <td>糖化血紅素/HBA1c</td>
      <td
        [style.color]="checkResult(item.HBA1c?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.HBA1c?.value }}
      </td>
      <td>{{ criteria.HBA1c }}</td>
      <td>{{ units.HBA1c }}</td>
    </tr>
    <tr *ngIf="hasValue('TG')">
      <td>三酸甘油脂/TG</td>
      <td
        [style.color]="checkResult(item.TG?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.TG.value }}
      </td>
      <td>{{ criteria.TG }}</td>
      <td>{{ units.TG }}</td>
    </tr>
    <tr *ngIf="hasValue('CHOL')">
      <td>總膽固醇/CHOL</td>
      <td
        [style.color]="checkResult(item.CHOL?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.CHOL.value }}
      </td>
      <td>{{ criteria.CHOL }}</td>
      <td>{{ units.CHOL }}</td>
    </tr>
    <tr *ngIf="hasValue('HDLC')">
      <td>高密度脂蛋白/HDLC</td>
      <td
        [style.color]="checkResult(item.HDLC?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.HDLC.value }}
      </td>
      <td>{{ criteria.HDLC }}</td>
      <td>{{ units.HDLC }}</td>
    </tr>
    <tr *ngIf="hasValue('LDLC')">
      <td>低密度脂蛋白/LDLC</td>
      <td
        [style.color]="checkResult(item.LDLC?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.LDLC.value }}
      </td>
      <td>{{ criteria.LDLC }}</td>
      <td>{{ units.LDLC }}</td>
    </tr>
    <tr *ngIf="hasValue('T4')">
      <td>甲狀腺素/T4</td>
      <td
        [style.color]="checkResult(item.T4?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.T4.value }}
      </td>
      <td>{{ criteria.T4 }}</td>
      <td>{{ units.T4 }}</td>
    </tr>
    <tr *ngIf="hasValue('FreeT4')">
      <td>游離甲狀腺素/FreeT4</td>
      <td
        [style.color]="checkResult(item.FreeT4?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.FreeT4.value }}
      </td>
      <td>{{ criteria.FreeT4 }}</td>
      <td>{{ units.FreeT4 }}</td>
    </tr>
    <tr *ngIf="hasValue('FreeT3')">
      <td>游離三碘甲狀腺原氨酸/FreeT3</td>
      <td
        [style.color]="checkResult(item.FreeT3?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.FreeT3.value }}
      </td>
      <td>{{ criteria.FreeT3 }}</td>
      <td>{{ units.FreeT3 }}</td>
    </tr>
    <tr *ngIf="hasValue('TSH')">
      <td>促甲狀腺激素/TSH</td>
      <td
        [style.color]="checkResult(item.TSH?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.TSH.value }}
      </td>
      <td>{{ criteria.TSH }}</td>
      <td>{{ units.TSH }}</td>
    </tr>
    <tr *ngIf="hasValue('T3')">
      <td>三碘甲狀腺原氨酸/T3</td>
      <td
        [style.color]="checkResult(item.T3?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.T3.value }}
      </td>
      <td>{{ criteria.T3 }}</td>
      <td>{{ units.T3 }}</td>
    </tr>
    <tr *ngIf="hasValue('Thyroglobulin')">
      <td>甲狀腺球蛋白/Thyroglobulin</td>
      <td
        [style.color]="checkResult(item.Thyroglobulin?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.Thyroglobulin.value }}
      </td>
      <td>{{ criteria.Thyroglobulin }}</td>
      <td>{{ units.Thyroglobulin }}</td>
    </tr>
    <tr *ngIf="hasValue('AntiTPO')">
      <td>抗甲狀腺過氧化物酶抗體/AntiTPO</td>
      <td
        [style.color]="checkResult(item.AntiTPO?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.AntiTPO.value }}
      </td>
      <td>{{ criteria.AntiTPO }}</td>
      <td>{{ units.AntiTPO }}</td>
    </tr>
    <tr *ngIf="hasValue('ANA')">
      <td>抗核抗體/ANA</td>
      <td
        [style.color]="checkResult(item.ANA?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.ANA.value }}
      </td>
      <td>{{ criteria.ANA }}</td>
      <td>{{ units.ANA }}</td>
    </tr>
    <tr *ngIf="hasValue('TBili')">
      <td>總膽紅素/TBili</td>
      <td
        [style.color]="checkResult(item.TBili?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.TBili.value }}
      </td>
      <td>{{ criteria.TBili }}</td>
      <td>{{ units.TBili }}</td>
    </tr>
    <tr *ngIf="hasValue('DBili')">
      <td>直接膽紅素/DBili</td>
      <td
        [style.color]="checkResult(item.DBili?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.DBili.value }}
      </td>
      <td>{{ criteria.DBili }}</td>
      <td>{{ units.DBili }}</td>
    </tr>
    <tr *ngIf="hasValue('SGOT')">
      <td>天門冬氨酸轉氨酶/SGOT</td>
      <td
        [style.color]="checkResult(item.SGOT?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.SGOT.value }}
      </td>
      <td>{{ criteria.SGOT }}</td>
      <td>{{ units.SGOT }}</td>
    </tr>
    <tr *ngIf="hasValue('SGPT')">
      <td>丙氨酸轉氨酶/SGPT</td>
      <td
        [style.color]="checkResult(item.SGPT?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.SGPT.value }}
      </td>
      <td>{{ criteria.SGPT }}</td>
      <td>{{ units.SGPT }}</td>
    </tr>
    <tr *ngIf="hasValue('rGT')">
      <td>γ-谷氨酰轉肽酶/rGT</td>
      <td
        [style.color]="checkResult(item.rGT?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.rGT.value }}
      </td>
      <td>{{ criteria.rGT }}</td>
      <td>{{ units.rGT }}</td>
    </tr>
    <tr *ngIf="hasValue('ALKP')">
      <td>鹼性磷酸酶/ALKP</td>
      <td
        [style.color]="checkResult(item.ALKP?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.ALKP.value }}
      </td>
      <td>{{ criteria.ALKP }}</td>
      <td>{{ units.ALKP }}</td>
    </tr>
    <tr *ngIf="hasValue('BUN')">
      <td>血尿素氮/BUN</td>
      <td
        [style.color]="checkResult(item.BUN?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.BUN.value }}
      </td>
      <td>{{ criteria.BUN }}</td>
      <td>{{ units.BUN }}</td>
    </tr>
    <tr *ngIf="hasValue('CreaB')">
      <td>血清肌酸酐/CreaB</td>
      <td
        [style.color]="checkResult(item.CreaB?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.CreaB.value }}
      </td>
      <td>{{ criteria.CreaB }}</td>
      <td>{{ units.CreaB }}</td>
    </tr>
    <tr *ngIf="hasValue('UA')">
      <td>血尿酸/UA</td>
      <td
        [style.color]="checkResult(item.UA?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.UA.value }}
      </td>
      <td>{{ criteria.UA }}</td>
      <td>{{ units.UA }}</td>
    </tr>
    <tr *ngIf="hasValue('TP')">
      <td>總蛋白/TP</td>
      <td
        [style.color]="checkResult(item.TP?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.TP.value }}
      </td>
      <td>{{ criteria.TP }}</td>
      <td>{{ units.TP }}</td>
    </tr>
    <tr *ngIf="hasValue('ALB')">
      <td>白蛋白/ALB</td>
      <td
        [style.color]="checkResult(item.ALB?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.ALB.value }}
      </td>
      <td>{{ criteria.ALB }}</td>
      <td>{{ units.ALB }}</td>
    </tr>
    <tr *ngIf="hasValue('GLO')">
      <td>球蛋白/GLO</td>
      <td
        [style.color]="checkResult(item.GLO?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.GLO.value }}
      </td>
      <td>{{ criteria.GLO }}</td>
      <td>{{ units.GLO }}</td>
    </tr>
    <tr *ngIf="hasValue('AG')">
      <td>白蛋白與球蛋白比/AG</td>
      <td
        [style.color]="checkResult(item.AG?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.AG.value }}
      </td>
      <td>{{ criteria.AG }}</td>
      <td>{{ units.AG }}</td>
    </tr>
    <tr *ngIf="hasValue('CEA')">
      <td>癌胚抗原/CEA</td>
      <td
        [style.color]="checkResult(item.CEA?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.CEA.value }}
      </td>
      <td>{{ criteria.CEA }}</td>
      <td>{{ units.CEA }}</td>
    </tr>
    <tr *ngIf="hasValue('AFP')">
      <td>甲胎蛋白/AFP</td>
      <td
        [style.color]="checkResult(item.AFP?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.AFP.value }}
      </td>
      <td>{{ criteria.AFP }}</td>
      <td>{{ units.AFP }}</td>
    </tr>
    <tr *ngIf="hasValue('Cyfra')">
      <td>細胞角蛋白片段/Cyfra</td>
      <td
        [style.color]="checkResult(item.Cyfra?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.Cyfra.value }}
      </td>
      <td>{{ criteria.Cyfra }}</td>
      <td>{{ units.Cyfra }}</td>
    </tr>
    <tr *ngIf="hasValue('eGFR')">
      <td>估算腎絲球過濾率/eGFR</td>
      <td
        [style.color]="checkResult(item.eGFR?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.eGFR.value }}
      </td>
      <td>{{ criteria.eGFR }}</td>
      <td>{{ units.eGFR }}</td>
    </tr>
    <tr *ngIf="hasValue('CA125')">
      <td>癌抗原125/CA125</td>
      <td
        [style.color]="checkResult(item.CA125?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.CA125.value }}
      </td>
      <td>{{ criteria.CA125 }}</td>
      <td>{{ units.CA125 }}</td>
    </tr>
    <tr *ngIf="hasValue('CA199')">
      <td>癌抗原199/CA199</td>
      <td
        [style.color]="checkResult(item.CA199?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.CA199.value }}
      </td>
      <td>{{ criteria.CA199 }}</td>
      <td>{{ units.CA199 }}</td>
    </tr>
    <tr *ngIf="hasValue('CA153')">
      <td>癌抗原153/CA153</td>
      <td
        [style.color]="checkResult(item.CA153?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.CA153.value }}
      </td>
      <td>{{ criteria.CA153 }}</td>
      <td>{{ units.CA153 }}</td>
    </tr>
    <tr *ngIf="hasValue('CA72')">
      <td>癌抗原72/CA72</td>
      <td
        [style.color]="checkResult(item.CA72?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.CA72.value }}
      </td>
      <td>{{ criteria.CA72 }}</td>
      <td>{{ units.CA72 }}</td>
    </tr>
    <tr *ngIf="hasValue('RA')">
      <td>類風濕性關節炎因子/RA(定量)</td>
      <td
        [style.color]="checkResult(item.RA?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.RA.value }}
      </td>
      <td>{{ criteria.RA }}</td>
      <td>{{ units.RA }}</td>
    </tr>
    <tr *ngIf="hasValue('STSRPR')">
      <td>梅毒血清反應/STS-RPR</td>
      <td
        [style.color]="checkResult(item.STSRPR?.resultNote)"
        *ngFor="let item of data()"
      >
        {{ item.STSRPR?.value }}
      </td>
      <td>{{ criteria.STSRPR }}</td>
      <td>{{ units.STSRPR}}</td>
    </tr>
    <!-- <app-table-row
    key="SCC"
    [data]="data"
    [criteria]="criteria"
    [units]="units"
  ></app-table-row> -->
  </tbody>
</table>

}
