
@for (item of data(); track $index) {
<p>名字：{{item.name}}</p>
<p>子宮頸跟食道癌/SCC：{{item.SCC}}</p>
<p>測驗日期：{{item.date}}</p>
<p>白血球計數/WBC：{{item.WBC}}</p>
<p>紅 血 球/RBC：{{item.RBC}}</p>
<p>血 色 素/HgB：{{item.HgB}}</p>
<p>血球容積比值/Hct：{{item.Hct}}</p>
<p>嗜中性白血球/Neut：{{item.Neut}}</p>
<p>淋巴球/Lym：{{item.Lym}}</p>
<p>單核球/Mono：{{item.Mono}}</p>
<p>嗜鹼性白血球/Baso：{{item.Baso}}</p>
<p>嗜酸性白血球/Eosin：{{item.Eosin}}</p>
<p>血小板計數/PLT：{{item.PLT}}</p>
<p>紅血球平均血紅素/MCH：{{item.MCH}}</p>
<p>紅血球平均體積值/MCV：{{item.MCV}}</p>
<p>平均血色素濃度值/MCHC：{{item.MCHC}}</p>
<p>尿液顏色/UColor：{{item.UColor}}</p>
<p>尿 糖/UGLU：{{item.UGLU}}</p>
<p>尿膽素原/U-URO：{{item.UURO}}</p>
<p>尿膽紅素/U-BIL：{{item.UBIL}}</p>
<p>尿 丙 酮/U-KET：{{item.UKET}}</p>
<p>尿酸鹼度/U-PH：{{item.UPH}}</p>
}
<!-- <p>名字：{{item.name}}</p>
<p>子宮頸跟食道癌/SCC：{{item.SCC}}</p>
<p>測驗日期：{{item.date}}</p>
<p>白血球計數/WBC：{{item.WBC}}</p>
<p>紅 血 球/RBC：{{item.RBC}}</p>
<p>血 色 素/HgB：{{item.HgB}}</p>
<p>血球容積比值/Hct：{{item.Hct}}</p>
<p>嗜中性白血球/Neut：{{item.Neut}}</p>
<p>淋巴球/Lym：{{item.Lym}}</p>
<p>單核球/Mono：{{item.Mono}}</p>
<p>嗜鹼性白血球/Baso：{{item.Baso}}</p>
<p>嗜酸性白血球/Eosin：{{item.Eosin}}</p>
<p>血小板計數/PLT：{{item.PLT}}</p>
<p>紅血球平均血紅素/MCH：{{item.MCH}}</p>
<p>紅血球平均體積值/MCV：{{item.MCV}}</p>
<p>平均血色素濃度值/MCHC：{{item.MCHC}}</p>
<p>尿液顏色/UColor：{{item.UColor}}</p>
<p>尿 糖/UGLU：{{item.UGLU}}</p>
<p>尿膽素原/U-URO：{{item.UURO}}</p>
<p>尿膽紅素/U-BIL：{{item.UBIL}}</p>
<p>尿 丙 酮/U-KET：{{item.UKET}}</p>
<p>尿酸鹼度/U-PH：{{item.UPH}}</p> -->
