:host {
  display: block;
}


.form {
  // display: flex;
  // align-items: center;
  // gap: 10px;
  margin-bottom: 30px;
}

.radio-section{
position: relative;


}

.error-msg{
//  position: absolute;
//  bottom:-10px;
//  left: 5px;
 color:red;
}
