<ol
  class="items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0 rtl:space-x-reverse mb-16 text-2xl"
>
  <li
    class="flex items-center space-x-2.5 rtl:space-x-reverse"
    [ngClass]="{'text-blue-600': step() === 1}"
  >
    <span
      class="flex items-center justify-center w-10 h-10 border rounded-full shrink-0"
      [ngClass]="{'border-blue-600': step() === 1}"
    >
      1
    </span>
    <span class="font-medium leading-tight"  >上傳檔案</span>
  </li>
  <li
    class="flex items-center  space-x-2.5 rtl:space-x-reverse"
    [ngClass]="{'text-blue-600': step() === 2}"
  >
    <span
      class="flex items-center justify-center w-10 h-10 border  rounded-full shrink-0 "
      [ngClass]="{'border-blue-600': step() === 2}"
    >
      2
    </span>
    <span class="font-medium leading-tight">選擇姓名並觀看報告</span>
  </li>
</ol>
